# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
*.apk
*.aab
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/build/
*.ipa
*.dSYM.zip
*.dSYM

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log

# Temporary
tmp/
temp/
